
<div>

    <div>
        <button class="button-style" (click)="show()">View Inbox</button>
    </div>

    <div *ngIf="user != null && !compose_popup && !read_popup">
        <!--
        <div>
            <table>
                <tr *ngFor="let message of messages">
                    <td>{{message.id}}</td>
                    <td>
                        <button (click)="getMessage(message.id)">GET MAIL</button>
                    </td>
                </tr>
            </table>
          <div>Body{{message}}</div><br>
        </div>
        -->
        <table>
            <thead class="compose-button">
                <tr>
                    
                </tr>
            </thead>
            <div class="Scroll">
                <tbody>
                    <button *ngIf="compose_button_popup" (click)="open_compose()">Compose</button>
                    <tr *ngFor="let item of obj">
                        <td>
                            <label>
                                <button (click)="readEmail(item.ID)" class="email-button">
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{item.From}}
                                        </div>
                                        <div class="col-md-3">
                                            {{item.Subject}}
                                        </div>
                                        <div class="col-md-3">
                                            {{item.Snippet}}
                                        </div>
                                    </div>
                                </button>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</div>

<ng-template [ngIf]="compose_popup">
    <div class="send-form">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div>
                <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off">
            </div>
            <br>
    
            <div>
                <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject">
            </div>
            <br>
            <div>
                <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10" cols="70"></textarea>
            </div>
    
            <button class="submit-email-button" type="submit">Send</button>
        </form>
    </div>
</ng-template>

<ng-template [ngIf]="read_popup">
    <div *ngFor="let item of obj2">
        <div class="read-form read-scroll">
            <div class="email-info">
                {{item.From}}
            </div>
            <br>
            <div class="email-info">
                {{item.Subject}}
            </div>
            <br>
            <div class="read_body" [innerHTML]="item.Body"></div>    
        </div>
    </div>
</ng-template>

