
<div>
    
    <div class="auto-button">
        <button class="hide" id="show_inbox" (click)="show()"></button>
    </div>
    
    <div class="nav-bar" *ngIf="user != null">
        <button class="button-style-nav" (click)="show()">Inbox</button>
        <br>
        <button class="button-style-nav" (click)="draftList()">Drafts</button>
    </div>


    <div class="list-form" *ngIf="user != null">
        <div>
            
            <div>
                <div class="compose_div" *ngIf="user != null">
                    <button class="compose-style" (click)="open_compose()">Compose <i class="fa fa-envelope-open"></i></button>
                </div>
                <form #form4="ngForm" (submit)="onSearch(form4)" autocomplete="off">
                    <input placeholder="Search" (keyup)='text_search()' class="search-input-style" type="text" id="Search" name="Search" #Search="ngModel" [(ngModel)]="gmailService.formData.Search">
                </form>
                <br>
                <br>
            </div>
            
            <div *ngIf="!search && !open_draft_inbox" class="Scroll">
                <div class="inbox" *ngFor="let item of list_obj">
                    <button (click)="threadEmail(item.Thread_ID)" class="email-button">
     
                        <div class="table">
                            <div class="table-cell">
                                <span class="bold">
                                    {{item.From}}
                                </span>
                            </div>
                            <div class="table-cell2">
                                <div class="bold">
                                    {{item.Subject}} 
                                </div>
                            </div>
                            <div class="table-cell2">
                                {{item.Snippet}}
                            </div>
                        </div>
                    </button>
                    <button class="delete-email" (click)="deleteEmail(item.Thread_ID)"><i class="fa fa-trash"></i></button>
                </div>
            </div>

            <div *ngIf="search" class="Scroll">
                <div class="inbox" *ngFor="let item of search_obj">
                    <button (click)="threadEmail(item.Thread_ID)" class="email-button">
     
                        <div class="table">
                            <div class="table-cell">
                                <div class="bold">
                                    {{item.From}}
                                </div>
                            </div>
                            <div class="table-cell2">
                                <div class="bold">
                                    {{item.Subject}} 
                                </div>
                            </div>
                            <div class="table-cell2">
                                {{item.Snippet}}
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div *ngIf="open_draft_inbox" class="Scroll">
                <div class="inbox" *ngFor="let item of draft_obj">
                    <button (click)="edit_draft(item.Draft_ID)" class="email-button">
     
                        <div class="table">
                            <div class="table-cell">
                                <div class="bold">
                                    {{item.From}}
                                </div>
                            </div>
                            <div class="table-cell2">
                                <div class="bold">
                                    {{item.Subject}} 
                                </div>
                            </div>
                            <div class="table-cell2">
                                {{item.Snippet}}
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template [ngIf]="compose_popup">
    <div class="send-form">
        <button class="close_button_compose" (click)="send_close()"><i class="close_button fa fa-close"></i></button>
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div>
                <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off">
            </div>
            <br>
    
            <div>
                <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject">
            </div>
            <br>
            <div>
                <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10" cols="70"></textarea>
            </div>
            <br>
            <span>
                <button class="submit-email-button" type="submit">Send <i class="fa fa-paper-plane"></i></button>
                <label class="paper-clip" *ngIf="!file_explorer">
                    <input class="fa fa-paperclip" type="file" id="upload" class="browse" (change)="onNativeInputFileSelect($event)" #inputFile /><i class="fa fa-paperclip"></i>
                </label>
                <label *ngIf="file_explorer"><button class="file_close" (click)='empty_browse()'><i class="attachment_close fa fa-close"></i></button>
                    {{gmailService.attachment_name}}
                </label>
                <span class="checkbox_input"><input id="check" class="check_margin" type="checkbox">Save as Draft</span>
            </span>
        </form>
    </div>
</ng-template>

<ng-template [ngIf]="draft_edit">
    <div class="draft-form">
        <button class="close_button_compose" (click)="draft_close()"><i class="close_button fa fa-close"></i></button>
        <form #form4="ngForm" (submit)="onUpdate(form4)" autocomplete="off">
            <div>
                <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off">
            </div>
            <br>
    
            <div>
                <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject">
            </div>
            <br>
            <div>
                <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10" cols="70"></textarea>
            </div>
            <span><button class="submit-email-button" type="submit">Send</button><span class="checkbox_input"><input id="check_update" class="check_margin" type="checkbox">Update Draft</span></span>
            
        </form>
    </div>
</ng-template>

<div *ngIf="read_popup" class="read-footer">
    <button class="reply-button" (click)="reply()">Reply <i class="fa fa-reply"></i></button>
    <button class="forward-button" (click)="forward()">Forward <i class="fa fa-arrow-right"></i></button>
    <a *ngIf="gmailService.dowload_attachment" href="{{gmailService.downloads_url}}" id="myLink"><button class="attachment-button">Attachment <i class="fa fa-file"></i></button></a>
</div>

<ng-template [ngIf]="read_popup">
    <div class="read-scroll-form">
        
        <div *ngFor="let item of gmailService.thread_obj">
            <div class="read-form">
                <div class="email-info">
                    {{item.From}} <br>
                </div>
                <br>
                <div class="email-info">
                    {{item.Subject}}
                </div>
                <br>
                <div class="read_body" [innerHTML]="item.Body"></div>    
            </div>
        </div>
        <div *ngIf="reply_to_thread" class="reply-form">
            <form #form2="ngForm" (submit)="onReply(form2)" autocomplete="off">
                <div>
                    <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off" readonly>
                </div>
                <br>
        
                <div>
                    <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject" readonly>
                </div>
                <br>
                <div>
                    <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="7"></textarea>
                </div>
        
                <button class="submit-email-button" type="submit">Send <i class="fa fa-paper-plane"></i></button>
                <button class="discard" (click)="reply_close()">Discard</button>
            </form>
        </div>
        <div *ngIf="forward_thread" class="reply-form">
            <form #form3="ngForm" (submit)="onForward(form3)" autocomplete="off">
                <div>
                    <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off">
                </div>
                <br>
        
                <div>
                    <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject" readonly>
                </div>
                <br>
                <div>
                    <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10" readonly></textarea>
                </div>
        
                <button class="submit-email-button" type="submit">Send <i class="fa fa-paper-plane"></i></button>
                <button class="discard" (click)="reply_close()">Discard</button>
            </form>
        </div>
    </div>
    
</ng-template>

