
<div>

    <div>
        <button class="button-style" (click)="show()">View Inbox</button>
    </div>

    <div *ngIf="user != null && !compose_popup && !read_popup">
        <!--
        <div>
            <table>
                <tr *ngFor="let message of messages">
                    <td>{{message.id}}</td>
                    <td>
                        <button (click)="getMessage(message.id)">GET MAIL</button>
                    </td>
                </tr>
            </table>
          <div>Body{{message}}</div><br>
        </div>
        -->

        <div>
            <button *ngIf="compose_button_popup" (click)="open_compose()">Compose</button>
            <div class="Scroll">
                <div class="inbox" *ngFor="let item of obj">
                    <button (click)="threadEmail(item.Thread_ID)" class="email-button">
     
                        <div class="table">
                            <div class="table-cell">
                                {{item.From}}
                            </div>
                            <div class="table-cell2">
                                {{item.Subject}} - {{item.Snippet}}
                            </div>
                        </div>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<ng-template [ngIf]="compose_popup">
    <div class="send-form">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div>
                <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off">
            </div>
            <br>
    
            <div>
                <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject">
            </div>
            <br>
            <div>
                <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10" cols="70"></textarea>
            </div>
    
            <button class="submit-email-button" type="submit">Send</button>
        </form>
    </div>
</ng-template>

<ng-template [ngIf]="read_popup">
    <div *ngIf="!reply_to_thread" class="read-scroll-form">
        <button (click)="reply()">Reply</button>
        
        <div *ngFor="let item of gmailService.obj3">
            <div class="read-form">
                <div class="email-info">
                    {{item.From}} <br>
                </div>
                <br>
                <div class="email-info">
                    {{item.Subject}}
                </div>
                <br>
                <div class="read_body" [innerHTML]="item.Body"></div>    
            </div>
        </div>
    </div>

    <div *ngIf="reply_to_thread" class="read-scroll-form2">
        
        <div *ngFor="let item of gmailService.obj3">
            <div class="read-form">
                <div class="email-info">
                    {{item.From}} <br>
                </div>
                <br>
                <div class="email-info">
                    {{item.Subject}}
                </div>
                <br>
                <div class="read_body" [innerHTML]="item.Body"></div>    
            </div>
        </div>
    </div>

    <div *ngIf="reply_to_thread" class="reply-form">
        <button (click)="reply_close()">X</button>
        <form #form2="ngForm" (submit)="onReply(form2)" autocomplete="off">
            <div>
                <input placeholder="To:" class="text-input-style" type="text" name="To" #To="ngModel" [(ngModel)]="gmailService.formData.To" autocomplete="off" readonly>
            </div>
            <br>
    
            <div>
                <input placeholder="Subject:" class="text-input-style" type="text" name="Subject" #Subject="ngModel" [(ngModel)]="gmailService.formData.Subject" readonly>
            </div>
            <br>
            <div>
                <textarea class="body-input-style" name="Body" #Body="ngModel" [(ngModel)]="gmailService.formData.Body" rows="10"></textarea>
            </div>
    
            <button class="submit-email-button" type="submit">Send</button>
        </form>
    </div>
    
</ng-template>

